<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Search Microservice</title>
  </head>
  <body>
    <div class="">
      Ex:
      <code>/search/cats?offset=10</code>
      Shows a json with 10 results of the search for "cats"
    </div>
    <div>
      Ex:
      <code>/historic</code>
      Shows a json with the recents searchs
    </div>
  </body>
</html>
